{% extends 'base.html' %}
{% block title %} フォロー {% endblock %}
{% block content %}
<div>
	<h1>フォロー確認画面</h1>
</div>

<div>
	{% if username %}
	<p>{{ username }}さんをフォローしますか?</p>
	{% endif %}
	<form method="post">
		{% csrf_token %}
		<button type="submit">フォローする</button>
	</form>
	<!--
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if messages.tags %} class="{{messages.tags}}" {% endif %}>
			{{message}}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	-->

	<a href="{% url 'tweets:home' %}">戻る</a>
	<!-- ここの戻るのリンクを url 'accounts:user_profile' username などとフォローしようとしたユーザのプロフィール画面にしようとすると
	NoReverseMatch at /accounts/Kyoko/follow/
	Reverse for 'user_profile' with arguments '('',)' not found. 1 pattern(s) tried: ['accounts/(?P<username>[^/]+)/\\Z']
	というエラーが出る。解消にはどうしたらよいか？
	-->
</div>
{% endblock %}
