{% extends "base.html" %} <!--base.htmlを継承-->

{% block title %}profile{% endblock %} <!-- titleを入れる -->

{% block content %}
<div>
    <h1>{{ profile.username }}のプロフィール</h1>
    <p><a href="{% url 'accounts:following_list' profile.username %}">フォロー数：{{ following_count }}</a></p>
    <p><a href="{% url 'accounts:follower_list' profile.username %}">フォロワー数：{{ follower_count }}</a></p>

    {% if profile.username == user.username %}
    <p>ここはあなた自身のプロフィール画面です。</p>

    {% elif mutual_follow %}
    <p>相互フォロー</p>
    <form action="{% url 'accounts:unfollow' profile.username %}" method="post">
        {% csrf_token %}
        <button type="submit">フォロー解除</button>
    </form>
    {% elif login_user_follows_template_user %}
    <p>フォロー中</p>
    <form action="{% url 'accounts:unfollow' profile.username %}" method="post">
        {% csrf_token %}
        <button type="submit">フォロー解除</button>
    </form>

    {% elif template_user_follows_login_user %}
    <p>フォローされています</p>
    <form action="{% url 'accounts:follow' profile.username %}" method="post">
        {% csrf_token %}
        <button type="submit">フォロー</button>
    </form>

    {% else %}
    <form action="{% url 'accounts:follow' profile.username %}" method="post">
        {% csrf_token %}
        <button type="submit">フォロー</button>
    </form>
    {% endif %}
</div>

{% if tweet_list %}
{% for tweet in tweet_list %}
<div>
    <h2><a href="{% url 'accounts:user_profile' tweet.user.username %}">{{tweet.user}}</a></h2>
</div>
<div>
    <p>{{tweet.content}}</p>
    <p>{{ tweet.created_at }}</p>
    <a href="{% url 'tweets:detail' tweet.pk %}"><button type="button">詳細</button></a>
</div>
{% endfor %}

{% else %}
<h1>投稿はありません</h1>
{% endif %}
{% endblock %}

<!--template実装時のベストプラクティスはプロジェクトフォルダ直下にtemplatesフォルダを作成し、そこに各アプリと同じ名前のフォルダを作成していくこと
    そしてsettingsのTEMPLATESを[BASE_DIR / "templates"]に書き変える
    なぜならデフォルトではdjangoは(app名)/templates/(同じapp名)/template.htmlを読み取るから-->
