{% extends "base.html" %} <!--base.htmlを継承-->

{% block title %}Sign Up{% endblock %} <!-- titleを入れる -->

{% block content %}
<form method="post">
    {{ form.as_p }} <!-- formにはSignupFormのインスタンスが入っている。as_pとすることで、各input要素がpタグで囲まれた状態で表示される。-->
    {% csrf_token %} <!-- csrf_token必須。formタグ内であればどこに書いてもOK -->
    <button type="submit">ユーザー登録</button>
</form>
{% endblock %}

<!--template実装時のベストプラクティスはプロジェクトフォルダ直下にtemplatesフォルダを作成し、そこに各アプリと同じ名前のフォルダを作成していくこと
    そしてsettingsのTEMPLATESを[BASE_DIR / "templates"]に書き変える
    なぜならデフォルトではdjangoは(app名)/templates/(同じapp名)/template.htmlを読み取るから-->
